<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Formularios - Basico</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Bienvenidos a Formularios basicos con Django</h1>
        <h2>Ve a /formpage para completar el formulario</h2>
      </div>
    </div>
  </body>
</html>
